<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/js/commons/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/mng/index.css" media="all">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <span class="layui-icon layui-icon-username" />
                        <span th:text="${session.user.username}" />
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;" onclick="logout();">安全退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item" th:each="res:${session.menu}">
                        <a class="" href="javascript:;"><span th:text="${res.resName}"></span></a>
                        <dl class="layui-nav-child">
                            <dd th:each="child:${res.childResourceList}">
                                <a href="javascript:;" th:text="${child.resName}" data-th-onclick="newTab([[${child.resCode}]], [[${child.resName}]], [[${child.url}]])"></a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-tab layui-tab-brief" lay-filter="maintab" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="tabindex">主页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">主页</div>
                </div>
            </div>
        </div>

        <div class="layui-footer"></div>
    </div>
</body>
</html>
<script charset="utf-8" src="/js/commons/layui/layui.all.js" ></script>
<script charset="utf-8" src="/js/commons/jquery.js"></script>
<script src="/js/mng/index.js"></script>